---
---

@media print {
  html {
    transform: scale(1.0);
  }

  .wrapper {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  header.site-header {
    display: none;
  }

  div.page-content {
    padding: 0;
  }

  ul.plain-list {
    padding-left: 20px;
  }

  i.icon.ion-link {
    display: none;
  }

  .resume-section {
    page-break-inside: avoid;
  }

  .resume-section-title {
    width: 20% !important;
    font-size: 10pt !important;
  }

  .resume-section-content {
    width: 80% !important;
    font-size: 10pt !important;
  }

  .resume-column .description {
    font-size: 8pt !important;
  }

  .work-unit {
    .work-unit-job-title {
      font-size: 10pt !important;
    }

    .work-unit-job-description {
      font-size: 8pt !important;
    }
  }

  .technologies {
    font-size: 8pt !important;
  }

  .education-unit {
    .education-unit-extra {
      font-size: 10pt !important;
    }

    .education-unit-description {
      font-size: 8pt !important;
    }
  }

  footer.site-footer {
    display: none;
  }
}
