%footer.site-footer
  .wrapper
    .pure-g
      .pure-u-1.pure-u-md-1-3.site-footer-spacing
        %span
          Thanks for visiting my portfolio! If you want to get in touch, drop
          an email to
        %a{href: 'mailto:hello.felix@seidel.me'}
          hello.felix@seidel.me
        %span
          or send me a message on the following platforms:
      .pure-u-1.pure-u-md-1-3.site-footer-spacing
        %ul.social-media-list
          %li
            .icon-container
              %i.icon.ion-social-github
            %a{href: 'https://www.github.com/Shark', target: '_new'}
              Shark
          %li
            .icon-container
              %i.icon.ion-social-twitter
            %a{href: 'https://www.twitter.com/sh4rk', target: '_new'}
              sh4rk
          %li
            .icon-container
              %i.icon.ion-social-skype
            %span
              theblueshark2005
          %li
            .icon-container
              %i.icon.ion-cash
            %a{href: 'https://www.xing.com/profile/Felix_Seidel5', target: '_new'}
              XING profile
          %li
            .icon-container
              %i.icon.ion-key
            %span
              %a{href: 'https://keybase.io/sh4rk', target: '_new'}
                Keybase profile
      .pure-u-1.pure-u-md-1-3
        .site-footer-nav
          {% include footer-nav.html %}
    %div.site-footer-notes
      .pure-g
        .pure-u-4-5
          %small
            :markdown
              Proudly powered by [Github Pages](https://pages.github.com) and [Jekyll](https://jekyllrb.com).
              The source code is available at [my Github repo](https://github.com/Shark/shark.github.io/tree/source).
        .pure-u-1-5.license
          %a{href: 'https://creativecommons.org/licenses/by/2.0/de/', target: '_new'}
            %img{src: '/assets/cc-by.svg'}

{% if jekyll.environment == 'production' %}
:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-43124578-2', 'auto');
  ga('send', 'pageview');
{% endif %}
