%footer.site-footer
  .wrapper
    .pure-g
      .pure-u-1.pure-u-md-1-3.site-footer-spacing
        %span
          Thanks for visiting my portfolio! If you want to get in touch, drop
          an email to
        %a{href: 'mailto:hello-felix@seidel.me'}
          hello-felix@seidel.me
        %span
          or send me a message on the following social media platforms:
      .pure-u-1.pure-u-md-1-3.site-footer-spacing
        %ul.social-media-list
          %li
            %i.icon.ion-social-github
            %a{href: 'https://www.github.com/Shark'}
              Shark
          %li
            %i.icon.ion-social-twitter
            %a{href: 'https://www.twitter.com/sh4rk'}
              sh4rk
          %li
            %i.icon.ion-social-skype
            %span
              theblueshark2005
      .pure-u-1.pure-u-md-1-3
        {% include footer-nav.html %}
    %div.site-footer-notes
      .pure-g
        .pure-u-4-5
          %small
            :markdown
              Proudly powered by [Github Pages](https://pages.github.com) and [Jekyll](https://jekyllrb.com).
              The source code is available at [my Github repo](https://github.com/Shark/shark.github.io/tree/source).
        .pure-u-1-5.license
          %a{href: 'https://creativecommons.org/licenses/by/2.0/de/', target: '_new'}
            %img{src: '/assets/cc-by.svg'}
