%header.site-header
  .wrapper.pure-g
    .pure-u-1.pure-u-md-2-5.site-title
      %a{href: '/'}
        {{ site.title }}
    .pure-u-1.pure-u-md-3-5.pure-menu.pure-menu-horizontal.site-nav
      %ul.pure-menu-list
        {% include header-nav.html %}
