.home {
  text-align: justify;

  h1 {
    font-size: 20pt;
    margin-top: 0;
    display: inline-block;
  }

  h1:not(:first-child) {
    margin-top: 10px;
  }

  p {
    margin-top: 0;
  }

  .post-date {
    font-size: 12pt;
    font-weight: normal;
  }

  .subscribe {
    font-size: 12pt;
    font-weight: bold;
  }

  article:first-child h2 {
    margin-top: 0;
  }

  article {
    &:not(:last-child) { margin-bottom: 20px; }
    h2 { margin-bottom: 10px; }
  }

  .intro {
    img {
      margin-left: 20px;
    }
  }

  span.subscribe {
    margin-left: 10px;
    display: inline-block;
  }
}
