.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: 100px;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 113px;
    letter-spacing: -1px;
    margin-bottom: 0;
    text-align: center;

    &,
    &:visited {
        color: $grey-color-dark;
    }

    @include media-query($size-md) {
      text-align: left;
    }
}

.site-nav {
    line-height: 100px;
    margin-bottom: 0;
    text-align: center;

    .pure-menu-link-active {
      font-weight: bold;
    }
}

.page-content {
    padding: $spacing-unit 0;
}

.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.site-footer-notes {
  margin-top: $spacing-unit / 2;

  p { margin: 0; }
  div.license { text-align: right; }
}

.social-media-list {
    list-style: none;
    margin: 0;
    padding-left: 10px;
}
