.site-header {
  border-top: 5px solid $brand-color-dark;
  border-bottom: 1px solid $grey-color-light;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: -1px;
    margin-bottom: 0;
    text-align: center;

    @include media-query($size-md) {
      line-height: 113px;
    }

    a,
    a:visited {
      color: $brand-color-dark;
    }

    a:hover {
      text-decoration: none;
    }

    @include media-query($size-md) {
      text-align: left;
    }
}

.site-nav {
    line-height: 50px;
    margin-bottom: 0;
    text-align: center;

    @include media-query($size-md) {
      line-height: 100px;
      text-align: right;
    }

    a.pure-menu-link,
    a.pure-menu-link:hover,
    a.pure-menu-link:visited {
      color: $brand-color-dark;
      text-decoration: none;
    }

    a.pure-menu-link-active {
      font-weight: bold;
    }
}

.page-content {
    padding: $spacing-unit 0;
}

.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;

    color: $grey-color;

    a,
    a:hover,
    a.pure-menu-link:visited {
      color: $brand-color-dark;
    }

    .site-footer-spacing {
      margin-bottom: 15px;

      @include media-query($size-md) {
        margin-bottom: inherit;
      }
    }

    .site-footer-nav {
      @include media-query($size-md) {
        text-align: right;
      }

      a:not(:last-child) {
        display: inline-block;
        margin-right: $spacing-unit / 4;
      }
    }
}

.site-footer-notes {
  margin-top: $spacing-unit / 2;

  p { margin: 0; }
  div.license { text-align: right; }
}

.social-media-list {
    list-style: none;
    margin: 0;
    padding-left: 10px;

    .icon-container {
      display: inline-block;
      width: 20px;
      text-align: center;
    }
}
